.img-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

@media (min-width:768px) {
    .img-container {
        display: block;
        padding-top: 0;
    }
}

.img-navbar {
    max-height: 30px;
}

@media (max-width: 768px) {
    .movile-view {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
